.Landing {
  text-align: center;
}

.Landing-logo {
  height: 100px;
}

.Landing-header {
  background-color: #db3d44;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Landing-link {
  color: #09d3ac;
}

.Landing-features {
  min-height: 15vh;
  font-size: calc(6px + 2vmin);
  color: #282c34;
  align-items: center;
}

.Landing-action {
  min-height: 20vh;
  background-color: #3d0104;
/*  background-color: #282c34; */
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}

.soc-icon {
  padding: 15px;
  color: #db3d44;
}